.file-uploader {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 10px;
  border: 2px dashed #bbb;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  position: relative;
}

.file-uploader:hover {
  border-color: #007bff;
}

.drag-drop-area {
  border: none;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  position: relative;
}

.drag-drop-area:hover {
  border-color: #007bff;
}

.drag-drop-text p {
  margin: 0;
  color: #666;
}

.file-upload-label {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 10px;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.file-upload-label:hover {
  background-color: #007bff;
  color: #fff;
}

.file-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.file-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  position: relative;
}

.file-item:last-child {
  border-bottom: none;
}

.file-item .progress-bar {

  width: 100%;
  background-color: #f3f3f3;
  border-radius: 4px;
  overflow: hidden;
  height: 8px;
  margin-bottom: 8px;
  position: relative; 
}


.file-item.show .progress-bar {
  display: block; 
}

.file-item .progress {
  height: 100%;
  background-color: #007bff;
  transition: width 0.5s ease;
}

.progress-text {
  font-size: 12px;
  text-align: right;
  margin-top: 5px;
  color: #007bff; 
}


.progress-text-percentage {
  font-size: 12px;
  color: #333; 
  margin-top: 2px; 
  text-align: right; 
}

.file-preview {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.file-preview img,
.file-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.audio-preview-box {
  border: 2px solid #007bff;
  border-radius: 8px;
  padding: 10px;
  margin: 8px 0;
  background-color: #f0f9ff;
  position: relative;
}

.audio-preview,
.video-preview {
  display: flex;
  align-items: center;
}

.audio-player,
.video-player {
  width: 150px;
  margin-left: 10px;
}

.file-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.file-name {
  font-size: 14px;
  color: #333;
}

.remove-file-btn {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.remove-file-btn:hover {
  background-color: #e60000;
}

.audio-remove-icon {
  width: 25px;
  height: 25px; 
  background-color: #ff4d4d; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute; 
  right: 40px;
  top: 20%; 
  transform: translateY(-50%); 
}


.audio-remove-icon::before,
.audio-remove-icon::after {
  content: '';
  position: absolute; 
  background-color: white; 
}

.audio-remove-icon::before {
  width: 2px; 
  height: 12px;
}

.audio-remove-icon::after {
  width: 2px;
  height: 12px; 
}

.audio-remove-icon::before {
  transform: rotate(45deg);
}

.audio-remove-icon::after {
  transform: rotate(-45deg); 
}

.error-message {
  color: #ff4d4d;
  margin-top: 10px;
}

.success-message {
  color: #28a745;
  margin-top: 10px;
}
