.file-uploader {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 10px;
  border: 2px dashed #bbb;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.file-uploader:hover {
  border-color: #007bff;
}

.drag-drop-area {
  border: none;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  position: relative;
}

.drag-drop-area:hover {
  border-color: #007bff;
}

.drag-drop-text p {
  margin: 0;
  color: #666;
}

.file-upload-label {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 10px;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.file-upload-label:hover {
  background-color: #007bff;
  color: #fff;
}

.file-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.file-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  position: relative;
}

.file-item:last-child {
  border-bottom: none;
}

.file-item .progress-bar {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 4px;
  overflow: hidden;
  height: 8px;
  margin-bottom: 8px;
  position: relative;
}

.file-item.show .progress-bar {
  display: block;
}

.file-item .progress {
  height: 100%;
  background-color: #007bff; 
  transition: width 0.5s ease;
}


.file-item .progress[data-progress="100"] {
  background-color: #28a745; 
}

.file-item .progress[data-progress="50"], .file-item .progress[data-progress="75"] {
  background-color: #ffc107; 
}

.file-item .progress[data-progress="0"], .file-item .progress[data-progress="25"] {
  background-color: #dc3545; 
}

.progress-text {
  font-size: 12px;
  text-align: right;
  margin-top: 5px;
  color: #007bff;
}

.progress-text-percentage {
  font-size: 12px;
  color: #333;
  margin-top: 2px;
  text-align: right;
}

.file-preview {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  max-width: 100%;
  position: relative; 
}

.audio-preview-box,
.video-preview,
.text-preview-box,
.word-preview-box,
.pdf-preview-box,
.image-preview-box {
  border: 2px solid #007bff;
  border-radius: 8px;
  padding: 10px;
  margin: 8px 0;
  background-color: #f0f9ff;
  position: relative; 
  width: 100%;
  max-width: 300px;
  height: 150px;
  overflow: visible; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-preview {
  max-width: 30%;
  max-height: 30%;
  object-fit: contain;
}

.pdf-preview-box,
.word-preview-box,
.text-preview-box,
.audio-preview-box,
.video-preview-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.file-icon {
  width: 50px;
  height: 50px;
  margin: 0;
}

.audio-player,
.video-player {
  width: 100%;
  max-width: 150px;
  margin: 10px auto;
}

.file-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.file-name {
  font-size: 14px;
  color: #333;
}

.remove-file-btn {
  display: none; 
}

.remove-file-icon {
  width: 24px; 
  height: 24px; 
  background-color: #ff4d4d; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute; 
  right: -6px; 
  top: -12px; 
  border: none; 
  z-index: 10; 
}

.remove-file-icon:before {
  content: "✖"; 
  font-size: 14px; 
  color: white;
}

.remove-file-icon:hover {
  background-color: #ff1a1a;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}
